.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        なかしょ
      %ul.side-header__box__icons
        %li.icon__list
          = link_to '#' do
            %i.fas.fa-edit
        %li.icon__list
          = link_to '#' do
            %i.fas.fa-cog
  .group-lists
    .group
      .group__name
        techcamp
      .group__comment
        まだメッセージがありません
    .group
      .group__name
        バスケットボール
      .group__comment
        メッセージがありまくり